* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
	width: 1000px;
	margin: auto;
}

header {
	min-height: 150px;
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
	color: #12E316;
	font-style: bold;
	font-size: 50px;
	text-shadow: 0px 3px 0px #1285E3;
	text-align: center;
	background-color: #754818;
}

aside {
	float: left;
	width: 250px;
	margin: 0px 5px;
	border: 1px;
	padding: 3px;
	background-color: #14FA61;
	font-size: 20px;
}

li {
    list-style-position: outside; 
    margin-left: 30px;
}

.playerChoices {
	height: 300px;
	/*width: 300px;*/
	background-color: yellow;
	margin-left: 300px;
	overflow: hidden;
}

.playerImageBox {
	position: relative;
	height: 100px;
	/*width: 100px;*/
	background-color: lightblue;
	margin: 20px;
}

.playerImageBox img {
	float: left;
	height: 100px;
	width: 100px;
}
.playerImageBox h3 {
	margin-left: 110px;
}

.selected {
	background-color: orange;

}

















































































header {
	background-color: purple;
	height: 100px;
	font-family: sans-serif;
}

.map {
	min-width: 10%;
	margin: 5px;
	height: 500px;
	float: left;
}

.gamedialog {
	width: 100%;
	height: 500px;
}

.stats { 
	width: 20%;
	height: 500px;
	float: right;
}

.header h1 {
	text-align: center;
	color: green;
}
.playerStats {
	padding: 0;
}

fieldset {
	border-radius: 5px;
	padding: 0;
}

.tile {
	width: 30px;
	height: 30px;
	background-color: #000;
	border-radius: 5px;
	margin: 0;
	display: inline-block;
	position: relative;
}

.row {
	display: block;
	margin: 0;
}

.activeTile {
	background-color: green;
}

.visitedTile {
	background-color: blue;
}

.goalTile {
	background-color: yellow;
}

.stats {
	padding: 0;
