* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
	width: 100%;
	margin: auto;
}

header {
	min-height: 150px;
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
	color: #12E316;
	font-style: bold;
	font-size: 50px;
	text-shadow: 0px 3px 0px #1285E3;
	text-align: center;
	background-color: #754818;
}

li {
    list-style-position: outside; 
    margin-left: 30px;
}

.playerChoices fieldset {
	background-color: #EDEDED;
	padding: 10px;
	margin: 0 300px 15px 15px;
	overflow: hidden;
}

.playerImageBox {
	display: inline-block;
	margin: 20px;
	background-color: #B2B2B2;	
	height: 175px;
	width: 150px;
	opacity: 0.8; 
}

.playerImageBox:hover {
	box-shadow: 0 0 10px #ccc;
	opacity: 1;
}

.playerImageBox.selected {
	background-color: orange;
	transition: 2s;
}

.playerImageBox img {
	float: left;
	height: 150px;
	width: 100px;
}
.playerImageBox h3 {
	margin-left: 110px;
}

.startButton {
	display: none;
}

.homePageAside {
	float: right;
	width: 400px;
	height: 600px;
	margin: 0px 20px;
	border: 1px;
	padding: 3px;
	background-color: #14FA61;
	font-size: 20px;
}

.homePageAside fieldset {
	padding: 10px;
	margin: 10px;
}

.bioAside {
	display: none;
}













































































<<<<<<< HEAD

header {
	background-color: purple;
	height: 100px;
	font-family: sans-serif;
}

.map, .legend {
	margin: 15px;
	float: left;
	width: 200px;
	padding: 5px;
}

.gamedialog {
	min-width: 100px;
	height: 500px;
	margin: 15px;
	padding: 5px;
}

.stats {
	float: right;
	width: 200px;
}

.header h1 {
	text-align: center;
	color: green;
}
.playerStats {
	padding: 0;
}

fieldset {
	border-radius: 5px;
	padding: 10;
<<<<<<< HEAD

=======
>>>>>>> eb5fe4cc494307ca0800462750c3634c8764537f
}

.tile {
	width: 30px;
	height: 30px;
	background-color: #000;
	border-radius: 5px;
	margin: 0;
	display: inline-block;
	position: relative;
}

.row {
	display: block;
	margin: 0;
}

.activeTile {
	background-color: green;
}

.visitedTile {
	background-color: blue;
}

.goalTile {
	background-color: yellow;
}

.stats {
	padding: 0;
}

.controller {
	background-color: #000;
	height: 170px;
}

.nothing,.dpad {
	display: inline-block;
	height: 50px;
	width: 50px;
}

.nothing {
	background-color: #000;
}

.dpad {
	background-color: #777;
	text-align: center;
	font-size: 3em;
}

.directional {
	background-color: #000;
	width: 165px;
	display: inline-block;
}

.up {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.left {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.right {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.down {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.attack, .runAway {
	background-color: #777;
	display: inline-block;
	border-radius: 5px;
	padding: 6px;
	min-width: 50px;
	position: absolute;
	top: 75px;
}

.attack {
	left: 200px;
}

.runAway {
	left: 260px;
}
